<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Sesam</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" href="assets/icons/launcher-icon-1x.png" sizes="48x48" />
    <link rel="icon" href="assets/icons/launcher-icon-2x.png" sizes="96x96" />
    <link rel="icon" href="assets/icons/launcher-icon-4x.png" sizes="192x192" />

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="manifest" href="assets/manifest.json">
</head>

<body class="{{.statusClass}}">

<div class="header">
    <div class="container">
        <div class="brand">
            <img src="assets/images/mainframe-long.svg" alt="Mainframe" class="logo">
            <span class="name">Sesam</span>
        </div>
        <div class="actions">
            <span class="login">[ {{.login}} ]</span>
            <span class="logout-action">
                <a href="/logout">Logout</a>
            </span>
        </div>
    </div>
</div>

<div class="container">

{{if not .isOpen }}
    <div class="space-closed">
        The space is closed. You can't open any doors.
    </div>
{{end}}

{{if .isOpen }}
    <div class="door-actions text-center" id="doorButtons">
        <div class="spinning-container">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <button class="btn btn-lg btn-primary" onclick="buzzer('outer', '{{.csrf}}')">Open OUTER door</button>

        <button class="btn btn-lg btn-primary" onclick="buzzer('innerGlass', '{{.csrf}}')">Open INNER Glass door</button>

        <button class="btn btn-lg btn-primary" onclick="buzzer('innerMetal', '{{.csrf}}')">Open INNER Metal door</button>
    </div>
{{end}}

</div>

<div id="infoSnack" class="snackbar">
    Door can now be opened...
</div>
<div id="errorSnack" class="snackbar error">
    Error, I can't open the door for you :(
</div>

<footer class="footer">
    <div class="container">
        <a href="https://github.com/ktt-ol/sesam">https://github.com/ktt-ol/sesam</a>
    </div>
</footer>

<script src="assets/js/site.js"></script>

</body>
</html>
